<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td>
          Set up <a href="https://imageomics.github.io/2024-08-16-osu-online/#the-bash-shell" target="_blank">Bash</a> 
          and 
          <a href="https://imageomics.github.io/2024-08-16-osu-online/#git-1" target="_blank">Git</a>.
        </td>      </tr>
      <tr>
        <td>9:00</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:10</td>
        <td>Navigating Files and Directories in the Unix Shell</td>
      </tr>
      <tr>
        <td>9:50</td>
        <td>Version Control with Git</td>
      </tr>
      <tr>
        <td>1:50</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a> (if not attending on Monday)</td>
      </tr>
      <tr>
        <td>2:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td>Set up <a href="https://imageomics.github.io/2024-08-16-osu-online/#r-1" target="_blank">R and RStudio</a>.</td>
      </tr>
      <tr>
        <td>9:00</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> (if only attending today)</td>
      </tr>
      <tr>
        <td>9:10</td>
        <td>R for Reproducible Scientific Analysis</td>
      </tr>
      <tr>
        <td>2:50</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
        <td>3:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>
